/* Write your CSS here */
.container-1 {
  min-height: 100vh;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-2 {
  background-color: white;
  margin: 30px;
  padding: 20px;
  min-height: 80vh;
  border-radius: 10px;
}
